@model PhotoBook.Entities.Publisher

@{
    ViewBag.Title = "AddCatalogImages";
}

<h2>Add Catalog Images for Publisher @Model.Name</h2>
<div class="text-info">@ViewBag.Message</div>
<div>@Html.ValidationMessage("Exceptions", new { @class = "text-danger" })</div>
<section>
    <div class="col-md-4" style="display:inline">
    @using (Html.BeginForm("AddCatalogImages", "Publishers", FormMethod.Post, new { enctype = "multipart/form-data", id="UploadForm" }))
    {
        @Html.HiddenFor(x => x.PublisherId)
    <button class="btn btn-primary" style="float:right" onclick="ValidateUploadForm();">Upload</button>
        <div id="multiple">
            <input type="file" class="multiple filestyle" data-buttonName="btn-primary"  data-buttonText="Choose File(s)" name="files" id="files" multiple />
            
        </div>
        <div id="single">
            <input type="file" class="single" name="files" id="files"/><br />
            <input type="file" class="single" name="files" id="files"/><br />
            <input type="file" class="single" name="files" id="files"/><br />
            <button class="btn btn-primary" onclick="ValidateUploadForm();">Upload</button>
        </div>
        
    }</div>
    <div>@Html.ActionLink("Go back", "Edit", new { id = Model.PublisherId }, htmlAttributes:new { @class = "btn btn-primary" })</div>

    
</section>
<section id="imagesCatalogSection">
   
       
    @Html.Action("GetCatalogImages", new { id = Model.PublisherId })

</section>
<div>@Html.ActionLink("Go back", "Edit", new { id = Model.PublisherId })</div>
@section Scripts{
<script src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            if (window.FileReader != null)
            {
                $('#single').hide();
                $('.single').prop('disabled', true);
            } else
            {
                $('#multiple').hide();
                $('.multiple').prop('disabled', true);
            }
        });

        function ValidateUploadForm()
        {
            event.preventDefault();
            if ($("#files").val() == "")
            {
                alert("Please select a valid jpeg or png file to upload");
            }
            else
            {
                
                 $("#UploadForm").submit();
            }
        }
    </script>
}
