@model PhotoBook.Entities.Publisher

@{
    ViewBag.Title = "AddCatalogImages";
}

<h2>Add Catalog Images for Publisher @Model.Name</h2>
<div class="text-info">@ViewBag.Message</div>
<div>@Html.ValidationMessage("Exceptions", new { @class = "text-danger" })</div>
<section>
    <div class="col-md-offset-3 col-md-4">
    @using (Html.BeginForm("AddCatalogImages", "Publishers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.PublisherId)
        <div id="multiple">
            <input type="file" class="multiple" name="files" multiple />
            <button class="btn btn-default">Upload</button>
        </div>
        <div id="single">
            <input type="file" class="single" name="files" /><br />
            <input type="file" class="single" name="files" /><br />
            <input type="file" class="single" name="files" /><br />
            <button class="btn btn-default">Upload</button>
        </div>
        
    }</div>
    
</section>
<section id="imagesCatalogSection">
   
       
    @Html.Action("GetCatalogImages", new { id = Model.PublisherId })

</section>
@section Scripts{
    <script type="text/javascript">
        $(function ()
        {
            if (window.FileReader != null)
            {
                $('#single').hide();
                $('.single').prop('disabled', true);
            } else
            {
                $('#multiple').hide();
                $('.multiple').prop('disabled', true);
            }
        });
    </script>
}
