@model PhotoBook.Entities.Publisher
@{
    ViewBag.Title = "AddProfileImage";
}

<h2>Add or change the current profile picture of a publisher</h2>
@Html.ValidationMessage("ExceptionError",new { @class="text-danger"})

@using (Html.BeginForm("AddProfileImage", "Publishers", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.HiddenFor(m=>m.PublisherId)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Select an image to upload:", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                <input type="file" id="profileImage" name="profileImage" title="Select an image" />

            </div>
            <div>
                <input type="submit" value="Upload Picture" / >

            </div>

        </div>
    </div>
}
<div> @Html.ActionLink("Back to edit","Edit",new { id=Model.PublisherId}) | @Html.ActionLink("Back to Publisher's List", "Index") </div>

