@model IEnumerable<PhotoBook.Entities.Publisher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>*@
        <th>
            Profile Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdImageUrl)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Address)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PricePerService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionService)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>*@
        <td>
           @{ 
               var imageName="";
               if (item.ProfileImageUrl != null)
               {
                   imageName = item.ProfileImageUrl;
               }
               else
               {
                   imageName = "default-no-image.jpg";

               }
           }
            <a href="@Url.Action("AddProfileImage",new {id=item.PublisherId })">
                <img class="profileImage" src="@System.Configuration.ConfigurationManager.AppSettings["PublishersImagesDirectory"]@imageName" id=@item.PublisherId />
            </a>
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdImageUrl)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileImageUrl)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PricePerService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionService)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PublisherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PublisherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PublisherId })
        </td>
    </tr>
}

</table>
