@model IEnumerable<PhotoBook.Entities.Publisher>
@{
    ViewBag.Title = "Catalog";
}

@section Scripts{
    <script>
        function validateSearchForm()
        {
            event.preventDefault();
            if ($("#SearchText").val() == "")
            {
                
                alert("Please review your search criteria");
            }
            else
            {
                $("#SearchForm").submit();
            }
        }

    </script>

    }
<link href="~/Content/gallery2.css" rel="stylesheet" />

 
<div class="container">
    <div class="row" style="padding:5px;">
        <div class="col">
           @using(Html.BeginForm("SearchPublisher","Home",FormMethod.Post,new {id="SearchForm", name="SearchForm" })){
            @Html.Label("Search:")  
           @Html.TextBox("SearchText","");

            <button class="btn-info" onclick="validateSearchForm();"><span class="glyphicon glyphicon-search"></span></button>
            }
               
        </div>
      
    </div>

</div>
<center><h2>Select a photographer to see their current work.</h2></center>


<main class="gallery">
    @foreach(var item in Model) { 
    <a href="@Url.Action("GetPublisherPublicProfile", new {id=item.PublisherId })">
        <figure class="individual">
            <img alt="@item.Name" src="@System.Configuration.ConfigurationManager.AppSettings["PublishersImagesDirectory"]@item.ProfileImageUrl">
            <figcaption>
                @item.Name<br>
                <span>@item.Email</span>
            </figcaption>
        </figure>
    </a>
    }
   

</main>


