@model IEnumerable<PhotoBook.Entities.Publisher>
@{
    ViewBag.Title = "Catalog";
}

<link href="~/Content/gallery2.css" rel="stylesheet" />

 
<div class="container">
    <div class="row" style="padding:5px;">
        <div class="col">
            <form>
                Search:<input type="text" id="SearchText" size="30" />
                <button class="btn-info"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
      
    </div>

</div>
<center><h2>Select a photographer to see their current work.</h2></center>




<main class="gallery">
    @foreach(var item in Model) { 
    <a href="@Url.Action("GetPublisherPublicProfile", new {id=item.PublisherId })">
        <figure class="individual">
            <img alt="@item.Name" src="@System.Configuration.ConfigurationManager.AppSettings["PublishersImagesDirectory"]@item.ProfileImageUrl">
            <figcaption>
                @item.Name<br>
                <span>@item.Email</span>
            </figcaption>
        </figure>
    </a>
    }
   

</main>


